@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-underline {
  background: linear-gradient(to right, #94a3b8, transparent),
    linear-gradient(to right, #f59e0b, #db2777, #0ea5e9);
  background-size:
    100% 0.1em,
    0 0.1em;
  background-position:
    100% 100%,
    0 100%;
  @apply bg-no-repeat transition-all;
}

.animated-link {
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, #f59e0b, #db2777, #0ea5e9);
  background-size:
    100% 0.1em,
    0 0.1em;
  background-position:
    100% 100%,
    0 100%;
  @apply bg-no-repeat transition-all;

  &.active {
    @apply font-bold;
  }
}

.animated-underline:hover,
.animated-underline:focus,
.animated-link:hover,
.animated-link:focus,
.group:hover .animated-link {
  background-size:
    0 0.1em,
    100% 0.1em;
}
