.DS_Store
.env
.netlify/
.astro/
/.cache
/dist
/src/_generated/**
/public/images/articles/**
/public/images/projects/**
node_modules
.biome

!**/*.example

.vscode/extensions.json
.vscode/launch.json
