@import "tailwindcss";
@plugin "daisyui" {
  themes: cmyk --default;
}

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "DM Serif Text", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
