---
interface BreadcrumbItem {
  label: string;
  href?: string;
}

interface Props {
  items: BreadcrumbItem[];
}

const { items } = Astro.props;
---

<nav aria-label="Breadcrumb">
  <div class="breadcrumbs">
    <ul>
      {items.map((item, index) => (
        <li class="max-w-32 md:max-w-none">
          {item.href ? (
            <a href={item.href} class="truncate block">{item.label}</a>
          ) : (
            <span class={`truncate block ${index === items.length - 1 ? "font-bold" : ""}`}>{item.label}</span>
          )}
        </li>
      ))}
    </ul>
  </div>
</nav>

