---
import Ornament from "../../core/components/base/ornament.astro";
import Footer from "../../core/components/layouts/footer.astro";
import PageHeader from "../../core/components/layouts/page-header.astro";
import PageLayout from "../../core/components/layouts/page-layout.astro";
import ArticleListSection from "../components/article-list-section.astro";
import { getArticles } from "../services/article-service";

const articles = await getArticles();
const currentPath = Astro.url.pathname;
---

<PageLayout title="Articles" description="Articles and blog posts" currentPath={currentPath}>
  <div class="relative overflow-hidden min-h-screen">
    <Ornament variant="circle" size="md" color="accent" position="top-left" />
    <Ornament variant="dots" size="md" color="primary" position="top-right" />
    <Ornament variant="square" size="lg" color="secondary" position="center" />
    
    <div class="container mx-auto px-6 py-24 md:py-32 relative z-10">
      <PageHeader title="Articles" size="large" align="center" animate />
      <ArticleListSection articles={articles} />
    </div>
  </div>
  
  <Footer />
</PageLayout>

<script>
  import { initArticleListItemScrollReveal } from "../utils/ui-utils";
  import { initAfterNavigation } from "../../core/utils/ui-utils";
  
  initAfterNavigation(() => {
    initArticleListItemScrollReveal();
  });
</script>

