@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  @apply leading-loose;

  a {
    background: linear-gradient(to right, transparent, transparent),
      linear-gradient(to right, #f59e0b, #db2777);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    @apply text-orange-500 dark:text-amber-500 bg-no-repeat transition-all break-all;

    &:hover,
    &:focus {
      background-size: 0 0.1em, 100% 0.1em;
    }
  }

  blockquote {
    @apply text-gray-400 text-xl leading-loose font-light dark:text-gray-500 py-4 md:px-10 mt-10 mb-3;

    &::before {
      content: '"';
    }

    &::after {
      content: '"';
    }
  }

  code {
    @apply bg-slate-100 dark:bg-slate-800 text-slate-500 px-1 mx-0.5 rounded-md;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-slate-800 dark:text-slate-300 mt-16;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-base font-bold;
  }

  img {
    height: inherit;
  }

  ol {
    @apply list-decimal pl-6;
  }

  p {
    @apply mt-10 mb-3;
  }

  pre {
    @apply bg-slate-900 dark:bg-black px-4 py-3 mb-4 rounded-md shadow-lg dark:border-2 dark:border-slate-800 overflow-x-auto;
    @apply mt-4 !important;

    code {
      @apply p-0 m-0 bg-transparent dark:bg-transparent text-slate-300;
    }
  }

  ul {
    @apply list-disc pl-6;
  }
}

.animated-underline {
  background: linear-gradient(to right, #94a3b8, transparent),
    linear-gradient(to right, #f59e0b, #db2777, #0ea5e9);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  @apply bg-no-repeat transition-all;
}

.animated-link {
  background: linear-gradient(to right, transparent, transparent),
    linear-gradient(to right, #f59e0b, #db2777);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  @apply bg-no-repeat transition-all;

  &.active {
    @apply font-bold;
  }
}

.animated-underline:hover,
.animated-underline:focus,
.animated-link:hover,
.animated-link:focus {
  background-size: 0 0.1em, 100% 0.1em;
}
