name: rebuild

on:
  workflow_dispatch:
    ref:
      - main

jobs:
  rebuild:
    runs-on: ubuntu-latest
    env:
      NOTION_ARTICLES_DATABASE_ID: ${{ secrets.NOTION_ARTICLES_DATABASE_ID }}
      NOTION_PROJECTS_DATABASE_ID: ${{ secrets.NOTION_PROJECTS_DATABASE_ID }}
      NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
      BASE_URL: ${{ secrets.BASE_URL }}
      NETLIFY_HOOK_URL: ${{ secrets.NETLIFY_HOOK_URL }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/cache-dependencies
      - run: bun run sync
